<h2>Sections</h2>
<hr><hr>
<h3>(welcome) Section 1</h3>
<div>{{> view_welcome_header}}</div>
<div>(welcome) This is the welcome content</div>
<hr>
<h3>(welcome) Section 2 - Widget</h3>
<div>{{widget.text}}</div>
